<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HElloo world</title>
</head>
<body>
<div class="bg-yellow-600">
  <h1 class="text-white pl-6 py-3">Altın Fiyatları</h1>
</div>
  <div>
    <p-card  header="Altın Fiyatları">
      <div  style="background-color: #333;overflow: auto;white-space: nowrap;">
        <div style=" display: inline-block;" *ngFor="let index of ons_list.result">
          <p-card header="{{index.name}}">
            <p class="m-0">
              Lorem ipsum
            </p>
          </p-card>
        </div>
      </div>

    </p-card>
  </div>
<div>
  <p-card  header="Borsa Fiyatları">
    <div  style="overflow: auto;white-space: nowrap;">
      <div style=" display: inline-block;" *ngFor="let index of borsa_list.result">
        <p-card header="{{index.name}}">
          <div class="grid">
            <div class="col-6">
              <h6>Para Birimi</h6>
            </div>
            <div class="col-6">
              <p>{{index.currency}}</p>
            </div>
            <div class="col-6">
              <h6>Oran</h6>
            </div>
            <div class="col-6">
              <p>{{index.rate}}</p>
            </div>
          </div>
        </p-card>
      </div>
    </div>

  </p-card>
</div>





</body>
</html>
